/* Write your global styles here, in PostCSS syntax */
@tailwind base;
@tailwind components;
@tailwind utilities;


:root {

    --header-height: 128px;

    --outer-padding: 2rem;

}

.content-grid {
    display: grid;
    grid-template-columns: [full-width-start] var(--outer-padding) [content-start] 1fr [content-end] var(--outer-padding) [full-width-end];
    > * {
        grid-column: content;
    }
}

.content {
    grid-column: content;
}

.full-width {
    grid-column: full-width;
}
